{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="ChemX chem portal database">
    <meta name="author" content="Siddhant Singh">
    <link rel="icon" href="../../favicon.ico">


    <title>{% block head_title %}ChemX{% endblock %}</title>

    {% include 'head_css.html' %}

      <style>
      {% block style %}

	  {% endblock %}
      </style>



  </head>

  <body>
  {% include 'navbar.html' %}

{% if messages %}

<div class='container'>
<div class='alert alert-success text-center alert-dismissible'>
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br/>
  {% endfor %}
</div>

</div>
{% endif %}

{% block jumbotron %}
          
            {% endblock %}
    <div class="container">
            

          
            {% block content %}

            {% endblock %}
              

    </div> <!-- /container -->

    {% include "javascript.html" %}
    
    <script>
    $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
    });

    </script>
	<footer class="text-muted well" id="last-footer">
		<section>
		<div class="row" style="font-size:11px;">
		<div class="container">
		<h3 class="subhead" style="text-align:center;">Sign Up Today! to join our database </h3>
		   <div class="col-md-9">
        <div class="row" >
			<div class="col-md-3">
			<div class="row footlinks">
			<div class="col-xs-12">
			<h5>About ChemX</h5>
			<ul class="noBullets">
			<li><i class="fa fa-angle-right"></i><a href="#">Developer</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Location</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Faculty</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">API</a></li>
			</ul>
			</div>
			</div>
			</div>
			<div class="col-md-3">
			<div class="row footlinks">
			<div class="col-xs-12">
			<h5>Join Us</h5>
			<ul class="noBullets">
			<li><i class="fa fa-angle-right"></i><a href="#">Registration</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Login</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Forum</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Products</a></li>
			</ul>
			</div>
			</div>
			</div>
			<div class="col-md-3">
			<div class="row footlinks">
			<div class="col-xs-12">
			<h5>ChemX</h5>
			<ul class="noBullets">
			<li><i class="fa fa-angle-right"></i><a href="#">Products</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">How to buy</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Forum</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">ChemX Database</a></li>
			</ul>
			</div>
			</div>
			</div>
			<div class="col-md-3">
			<div class="row footlinks">
			<div class="col-xs-12">
			<h5>Access Links</h5>
			<ul class="noBullets">
			<li><i class="fa fa-angle-right"></i><a href="#">Forum</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Cart</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Products</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">Ask your questions</a></li>
			</ul>
			</div>
			</div>
			</div>
			<hr/>			
        </div><!--/.row inner--> 
		</div>
		<footer>	
		<div class="row">
			<div class="container text-center">
				<h5>All Rights Reserved © 2017<br><a href="">WMES IIT-BHU Varanasi</a></h5>
				<h5>Developer Credits:<a href="github.com/sid10on10">Siddhant Singh</h5> 
			</div>
			</div></footer>
			 </div><!--/.container--> 
			 </div><!--/.row outer--> 
		</section>
				</footer>				
</body>
</html>		    
  </body>
</html>
















